/*********************** Reset *********************/

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}

$primary-color: #ca137f;
$secondary-color: #ff0000;
$text-color-dark: #053740;
$text-color-light: #fff;


html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    padding: 0 0 300px 0;
}

a, a:active{
    color: inherit;
    text-decoration: none;
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




/****************** S components ***************/

/*********** S Nav **************/
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    align-items: center;
    
    .logo {
        font-family: 'Pacifico', cursive;
        text-transform: uppercase;
        font-size: 2rem;
        color: $primary-color;
    }
    
    .navigation {
        
        a{
            transition: all .2s ease;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 500;
            
            &:active{
                
            }
            
            &:not(:last-of-type) {
                padding: 0 .9rem 0 0;
            }
            
            &.active{
                color: $primary-color;
                font-weight: 600;
            }
            
            &:hover {
                color: $primary-color;
            }
        }
    }
}
/*********** E Nav **************/

/******** S Header ********/
.header{
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
    .imgs{
        height: 100%;
        
        & > div{
            display: none;
            position: relative;
            height: 100%;
            
            &.active{
                display: block;
            }

            img{
                width:100%;
                //height: 100%;
            }
            
            .header-content{
                @include center;
                z-index: 5;
                text-align: center;
                color: $text-color-light;
                
                h2{
                    font-size: 4rem;
                    
                }
                
                p{
                    font-size: 1.8rem;
                    margin: 1rem 0 2rem;
                }
                
                a{
                    background-color: $primary-color;
                    padding: 1rem;
                    font-size: 1.7rem;
                    font-weight: 600;
                }
            }
        }
    }

    
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        padding: .8rem .7rem;
        color: $text-color-light;
        font-size: 2rem;
        font-weight: 600;
        background-color: $primary-color;
        border-radius: 100px;
        overflow: hidden;
        cursor: pointer;
        
        &.header-right-icon {
            right: 1rem;
            
        }
        
        &.header-left-icon {
            left: 1rem;
            
        }
    }
    
    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        background-color: rgba(0,0,0,.56);
    }
}
/******** E Header ********/

/******** S Footer ********/
footer{
    background: #211f1f;
    padding: 1.4rem 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $text-color-light;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .rights{
        @include center;
        text-align: center;
        p{
            font-size: 1.5rem;
            
        }
    }
    
    .social{
        
        
        a{
            font-size: 1.7rem;
            transition: all .2s ease;
            
            &:hover {
                color: $primary-color;
            }
            
            &:not(:last-of-type) {
                margin-right: 1.2px;
            }
        }
    }
    
}
/******** E Footer ********/

/******** S Products ********/
.products{
    position: relative;
    
    .shape{
        position: absolute;
        top: 7rem;
        right: 7rem;
        
        i{
            color: $secondary-color;
            font-size: 1.7rem;
            cursor: pointer;
        }
    }
    padding: 4rem 7rem;
    h2{
        text-align: center;
        font-size: 2.4rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0 0 2rem 0;
    }
    .categories{
        display: flex;
        justify-content: space-between;
        
        .category{
            width: 33%;
            
            .category-heading{
                background: $secondary-color;
                padding: .8rem 0;
                
                h3{
                    text-align: center;
                    font-size: 1.8rem;
                    color: $text-color-light;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 100;
                    
                }
            }
            
            .category-products{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                a{
                    width: 32.6%;
                    border: 1px solid #ddd;
                    box-shadow: 0 2px 3px 1.5px #aaa;
                    height: 100px;
                    overflow: hidden;
                    margin:  0 0 1rem 0;
                    
                    &.listing{
                        width: 100%;
                        height: 228px;
                        
                    }
                    
                    .product{
                        height: 100%;
                    }
                    
                    .product-img{
                       height: 70%;
                        overflow: hidden;
                        &.listing{
                            height: 85%;
                        }
                        
                        img{
                            width: 100%;
                            
                        }
                    
                    }
                    
                    h3{
                        text-align: center;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        &.listing{
                            height: 15%;
                        }
                    }
                }
            }
        }
    }
    
    .see-all{
        background-color: $primary-color;
        padding: 1rem;
        font-size: 1.7rem;
        font-weight: 600;
        margin: 1.2rem 0 0 0;
        display: inline-block;
        color: $text-color-light;
    }
}
/******** E Products ********/

/****************** E components ***************/

/********************** S Product-info **************************/
.product-info{
    display: flex;
    padding: 4rem 7rem;
    
    
    .product-img{
        position: relative;
        width: 50%;
        border-radius: 3px;
        overflow: hidden;
        img{
            width: 100%;
            
        }
        button{
            padding: 1rem;
            border-radius: 100px;
            color: $text-color-light;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 1.2rem;
            border: none;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 600;
            overflow: hidden;
            background: none;
            
            &:active{
                bottom: 1.1rem;
            }
            
            &:hover {
                i, span{
                    transform: translateX(0);
                }
            }
            i{
                margin: 0 2px 0 0;
                transform: translateX(-3rem);
                transition: all .3s ease
            }
            
            span{
                transition: all .3s ease;
                transform: translateX(-1rem);
            }
            
        }
        
        button:first-of-type{
            border: 2px solid $secondary-color;
            left: 1rem;
            
        }
        
        button:last-of-type{
            border: 2px solid $primary-color;
            right: 1rem;
        }
    }
    
    .product-details{
        color: $text-color-dark;
        padding: 0 0 0 3rem;
        width: 50%;
        .title{
            display: flex;
            flex-direction: column;
            
            
            .line{
                display: flex;
                align-items: center;
                margin: 0 0 1.2rem 0;
                &:nth-of-type(2) {
                    align-items: flex-start;
                }
                
                .the-title{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 100; 
                    font-size: 1.8rem;
                    margin: 0 4px 0 0;
                    
                }
                
                h3{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500; 
                    font-size: 2rem;
                    
                }
                
                .description{
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.7rem;
                    
                }
                
                .sizes{
                    padding: 0 0 0 5.3rem;
                    span{
                        box-shadow: 0 0 2px 1px #aaa;
                        background-color: $text-color-light;
                        padding: .2rem;
                        font-size: 1.4rem;
                        cursor: pointer;
                        
                        
                        &:not(:last-of-type) {
                            margin: 0 4px 0 0;
                        }
                        
                        &.active{
                            background-color: $secondary-color;
                            color: $text-color-light;
                        }
                    }
                    
                    .m{
                       padding: .4rem; 
                        
                    }
                    
                    .l{
                        padding: .6rem .7rem;
                        
                    }
                    
                    .xl{
                        padding: .8rem;
                        
                    }
                }
                
                .price{
                    font-size: 2rem;
                    padding: 0 0 0 5.3rem;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 100;
                }
                
                .availble{
                    font-size: 1.8rem;
                    position: relative;
                    &::before{
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: darkgreen;
                        box-shadow: 0 0 2px 4px green;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: -12px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
/********************** E Product-info **************************/